* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  padding: 20px;
  color: #de5858c5;
}

.frist_row {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
}
.box {
  width: 178px;
  height: 163px;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f3e2e2f3;
  border-radius: 16px;
}
::selection {
  background-color: #ce2222;
  color: rgba(240, 231, 231, 0.749);
}

/* row 1 */
.ivory {
  background-color: #fffff0;
}
.yellow {
  background-color: #ffff00;
}
.gold {
  background-color: #ffd700;
}
.orange {
  background-color: #ffa500;
}
.coral {
  background-color: #ff7f50;
}
.tometo {
  background-color: #ff6347;
}
.red {
  background-color: #ff0000;
}
.maroon {
  background-color: #800000;
}

/* row 2 */
.lovender {
  background-color: #e6e6fa;
}
.pink {
  background-color: #ffc0cb;
}
.deep_pink {
  background-color: #ff1493;
}

.plum {
  background-color: #dda0dd;
}

.violet {
  background-color: #ee82ee;
}

.fuchasia {
  background-color: #ff00ff;
}

.purple {
  background-color: #800080;
}
.indigo {
  background-color: #4b0082;
}

/* row 3*/

.lime {
  background-color: #00ff00;
}
.green {
  background-color: #008000;
}

.olive {
  background-color: #808000;
}

.aqua {
  background-color: #00ffff;
}
.skyblue {
  background-color: #87ceeb;
}

.iteal {
  background-color: #008080;
}
.blue {
  background-color: #0000ff;
}

.navy {
  background-color: #000080;
}

/* row 4*/
.white {
  background-color: #ffffff;
}
.silver {
  background-color: #c0c0c0;
}

.grey {
  background-color: #808080;
}

.black {
  background: #000000;
}
.wheat {
  background-color: #f5deb3;
}
.tan {
  background-color: #d2b48c;
}
.chocolate {
  background-color: #d2691e;
}
.saddlebrown {
  background-color: #8b4513;
}

/* code for color row 1 */
.code_1_1 {
  display: none;
}
.code_1_2 {
  display: none;
}
.code_1_3 {
  display: none;
}
.code_1_4 {
  display: none;
}
.code_1_5 {
  display: none;
}
.code_1_6 {
  display: none;
}

.code_1_7 {
  display: none;
}
.code_1_8 {
  display: none;
}

/* code for color row 2 */

.code_2_1 {
  display: none;
}
.code_2_2 {
  display: none;
}
.code_2_3 {
  display: none;
}
.code_2_4 {
  display: none;
}
.code_2_5 {
  display: none;
}
.code_2_6 {
  display: none;
}

.code_2_7 {
  display: none;
}
.code_2_8 {
  display: none;
}

/* code for color row 3 */
.code_3_1 {
  display: none;
}
.code_3_2 {
  display: none;
}
.code_3_3 {
  display: none;
}
.code_3_4 {
  display: none;
}
.code_3_5 {
  display: none;
}
.code_3_6 {
  display: none;
}

.code_3_7 {
  display: none;
}
.code_3_8 {
  display: none;
}

/* code for color row 4 */
.code_4_1 {
  display: none;
}
.code_4_2 {
  display: none;
}
.code_4_3 {
  display: none;
}
.code_4_4 {
  display: none;
}
.code_4_5 {
  display: none;
}
.code_4_6 {
  display: none;
}

.code_4_7 {
  display: none;
}
.code_4_8 {
  display: none;
}

@media only screen and (max-width: 427px) {
  .frist_row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 90%;
    height: 337px;
    margin-top: 20px;
    border-radius: 50% 50% 49% 51% / 30% 30% 70% 70%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    font-size: 25px;
    color: #097923;
  }
}
